# -------------------------
# Archivos y carpetas de Eclipse
# -------------------------
.metadata/
.classpath
.project
.settings/

# -------------------------
# Archivos compilados
# -------------------------
bin/
out/
build/
target/
*.class

# -------------------------
# Archivos de logs y temporales
# -------------------------
*.log
*.tmp
*.bak
*.swp

# -------------------------
# Archivos de sistema operativo
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Librerías descargadas (si usas Maven o Gradle no necesitas subirlas)
# -------------------------
*.jar
*.war
*.ear

# -------------------------
# Maven y Gradle
# -------------------------
.mvn/
.gradle/
